<!DOCTYPE html>
<html>
<head>
    <title>live-tv - мониторинг</title>
    <meta charset="utf-8">
    <!-- Open graph -->
    <meta property="og:title" content="Мониторинг">
    <meta property="og:site_name" content="Мониторинг">
    <meta property="og:description" content="">
    <meta property="og:image" content="../static/images/icon.png">
    <!-- Styles, fonts and favicon -->
    <link rel="stylesheet" href="../static/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
</head>
<body>
<div class="channels">
    <div class="channels__f-wrapper">
        <select class="channels__filter" onChange="channelsFilter(this);">
        </select>
        <button class="channels__refresh">Обновить</button>
        <% if(role === 'admin'){ %>
            <a href="/users">Пользователи</a>
            <a href="/channels">Каналы</a>
        <% } %>
    </div>
    <table class="channels__table">
        <tr class="channels__table-header">
            <th>Статус</th>
            <th>Канал</th>
            <th>Поток</th>
            <th>bitrate</th>
            <th>fps</th>
            <th>uptime</th>
            <th>График</th>
        </tr>
    </table>

    <ul class="channel__page-list">
        <li class="channel__prev-page"><</li>
        <li class="current-page"></li></li>
        <li class="channel__next-page">></li>
    </ul>

</div>
<script src="../../static/js/index.js"></script>
</body>
</html>