@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.channels{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 25px;
}
.channels__filter{
    min-width: 200px;
    padding: 5px 10px;
}
.channels__refresh{
    padding: 5px;
    background-color: #5885ff;
    color: white;
    border: solid 2px #5885ff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.channels__refresh:hover{
    color: #5885ff;
    background-color: white;
}
.channels__table{
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    border-collapse: collapse;
}
.channels__table th{
    font-size: .9em;
    padding: 10px 0;
    font-weight: 500;
    border-top: solid 1px #e9e9e9;
    border-bottom: solid 2px #e9e9e9;
}
.channels__table td{
    font-size: .9em;
    padding: 12px 0;
    text-align: center;
    border-top: solid 1px #e9e9e9;
    color: #505050;
    position: relative;
}
.channels__table td a{
    color: #505050;
}
.channels__table tr{
    transition: .2s;
}
.channels__table tr:nth-child(odd){
    background-color: #f8faff;
}
.channels__table tr:nth-child(1){
    background-color: white;
}
.channels__table td:nth-child(3){
    width: 30%;
}
.channels__table tr:hover{
    background-color: #f9fbff;
}
.channels__table tr:nth-child(1):hover{
    background-color: white;
}
.channels__table-notfound > td{
    font-size: 1.1em;
}
.channels__status{
    width: 7px;
    height: 7px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
}
.channels__status:hover + .channels__status-info{
    display: block;
}
.channels__status-info{
    display: none;
    width: 60px;
    padding: 6px;
    color: white;
    font-size: .75em;
    background-color: #5885ff;
    border-radius: 5px;
    position: absolute;
    top: 80%;
    left: 20px;
    z-index: 1000;
}
.channels__status.red{
    background-color: red;
}
.channels__status.red + .channels__status-info{
    background-color: #d20000;
}
.channels__status.green{
    background-color: rgb(0, 182, 0);
}
.channels__chart{
    padding: 5px 10px;
    color: white !important;
    background-color: #5885ff;
    border: solid 1px #5885ff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.channels__chart:hover{
    color: #a9c0ff !important;
    background-color: white;
}
.channels__chart.disabled{
    background-color: #e5e5e5;
    border: solid 1px #e5e5e5;
    pointer-events: none;
}
.channels__chart.disabled:hover{
    background-color: white;
    color: #e5e5e5;
}
.channel__page-list{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    transition: .3s;
    cursor: pointer;
}
.channel__page-list li{
    float: left;
    margin: 0px 3px;
    background-color: #f9fbff;
    border: solid 1px #5885ff;
    color: #5885ff;
    display: block;
    padding: 5px;
}
.channel__prev-page, .channel__next-page{
    color: white !important;
    background-color: #5885ff !important;
    font-weight: 900;
}
.chart__main-header{
    padding: 30px 80px;
}
.chart__main-header-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
}
.chart__main-header-wrapper > span{
    font-size: 1.5em;
    margin-left: 5%;
}
.chart__back-button{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    display: block;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    background-color: #5885ff;
    border: solid 2px #5885ff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.chart__back-button:hover{
    color: #5885ff;
    background-color: white;
}

.chart__header{
    width: 100%;
    padding: 0px 80px;
    display: flex;
    align-items: center;
}
.chart__header > span{
    font-size: 1.2em;
}
.chart__header > input{
    margin: 0px 10px;
}
.chart__header > button{
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    color: white;
    font-size: 1.1em;
    font-weight: 900;
    background-color: #5885ff;
    border: solid 2px #5885ff;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.chart__header > button:hover{
    background-color: white;
    color: #5885ff;
}
#shortChart, #longChart {
    width: 100%;
    height: 500px;
    max-width: 100%;
}