<!DOCTYPE html>
<html>
<head>
    <title>Chart</title>
    <meta charset="utf-8">
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
</head>
<body>
    <div id="chart"></div>
    <script>
        const chart = document.querySelector('#chart');

        function drawChart(data){
            new Dygraph(
            chart,
            data,
          {
            rollPeriod: 1,
            showRoller: true,
            customBars: false,
            logscale: true,
            title: 'Daily bitrate',
            ylabel: 'Bitrate',
            legend: 'always',
            showRangeSelector: false,
            rangeSelectorHeight: 30,
            rangeSelectorPlotStrokeColor: 'yellow',
            rangeSelectorPlotFillColor: 'lightyellow'
          }
        );
        }

        fetch('/getChart')
        .then(response => response.json())
        .then(data => {
            chartData = [];
            data.shift();
            data.shift();
            data.shift();
            for(let i = 0; i < data.length; i++){
                chartData.push([new Date(data[i].timestamp), data[i].bitrate]);
            }
            console.log(chartData);
            drawChart(chartData);
        });
    </script>
</body>
</html>