<!DOCTYPE html>
<html>
<head>
    <title>Chart</title>
    <meta charset="utf-8">
    <script src="../../static/js/dygraph.min.js"></script>
    <link rel="stylesheet" href="../../static/css/dygraph.min.css">
</head>
<body>
    <script>
        const chart = document.querySelector('#chart');
        new Dygraph(chart, [[new Date(), 5, 10]], {
            legend: 'always',
            title: 'Stream monitoring',
            showRoller: true,
            rollPeriod: 14,
            customBars: true,
            ylabel: 'bitrate',
        });
    </script>
    <div id="chart"></div>
    <!-- 
        fetch('/getChart')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            for(let i = 0; i < data.length; i++){
                dataPoints.push({x: new Date(data[i].timestamp), y: data[i].fps});
                dataPoints2.push({x: new Date(data[i].timestamp), y: data[i].bitrate});
            }
            stockChart.render();
        });
     -->
</body>
</html>